doctype html
html(class='no-js', lang='en')
  block meta
  head
    meta(charset='utf-8')
    if title
      title #{title}
    else
      title (no title specified)
    link(rel='stylesheet', href='css/style.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type="text/javascript" src="js/modernizr.min.js")
  body
    block page