-
  var documentList = [
    {
      title: "name_of_document",
      image: "https://cloudinary-res.cloudinary.com/image/upload/c_limit,h_540,w_770/f_auto,fl_lossy,q_auto/eu84dbcuxv7uubiy9q70g.png",
      imageDesc: 'document preview',
      date: "08/08/2014",
      buttonType: 'primary',
    },
    {
      title: "name_of_document",
      image: "https://cloudinary-res.cloudinary.com/image/upload/c_limit,h_540,w_770/f_auto,fl_lossy,q_auto/eu84dbcuxv7uubiy9q70g.png",
      imageDesc: 'document preview',
      date: "08/08/2014",
      buttonType: 'primary',
    },
    {
      title: "name_of_document",
      image: "https://cloudinary-res.cloudinary.com/image/upload/c_limit,h_540,w_770/f_auto,fl_lossy,q_auto/eu84dbcuxv7uubiy9q70g.png",
      imageDesc: 'document preview',
      date: "08/08/2014",
      buttonType: 'primary',
    },
    //- {
    //-   title: "name_of_document",
    //-   image: "https://cloudinary-res.cloudinary.com/image/upload/c_limit,h_540,w_770/f_auto,fl_lossy,q_auto/eu84dbcuxv7uubiy9q70g.png",
    //-   imageDesc: 'document preview',
    //-   date: "08/08/2014",
    //-   buttonType: 'secondary',
    //- },
    //- {
    //-   title: "name_of_document",
    //-   image: "https://cloudinary-res.cloudinary.com/image/upload/c_limit,h_540,w_770/f_auto,fl_lossy,q_auto/eu84dbcuxv7uubiy9q70g.png",
    //-   imageDesc: 'document preview',
    //-   date: "08/08/2014",
    //-   buttonType: 'primary',
    //-   disabledButton: true,
    //- },
    //- {
    //-   title: "name_of_document",
    //-   image: "https://cloudinary-res.cloudinary.com/image/upload/c_limit,h_540,w_770/f_auto,fl_lossy,q_auto/eu84dbcuxv7uubiy9q70g.png",
    //-   imageDesc: 'document preview',
    //-   date: "08/08/2014",
    //-   buttonType: 'secondary',
    //-   disabledButton: true,
    //- },
  ]

include button.jade

mixin document-list(document)
  li.item
    div.item__content
      img.item__image(src= document.image, alt= document.imageDesc)
      div.item__info
        h3.item__title= document.title
        p.item__date Last Edited: #{document.date}
    +button(document.buttonType, 'View Document', document.disabledButton)

ul.document-list
  for document in documentList
    +document-list(document)